* {
    margin: 0;
    padding: 0;
}

/* Header Start */

header {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-right: 30px;
    padding-left: 10px;
    padding-bottom: 40px;
}


.h-div {
    width: 25%;
    margin-top: 15px;
}

.h-font {
    font-family: Arial, Helvetica, sans-serif;
}

.big {
    font-size: 13em;
    font-weight: bold;
}

.title {
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 4.5%;
}

.h-rectangle {
    background-color: #f34b4b;
    color: white;
    padding: 5px;
    font-size: 1.1em;
    margin-top: 5px;
    text-align: center;
}

.h-medium {
    font-size: 1.5em;
}

.rounded {
    border-radius: 15px;
    right: -5%;
    top: 10%;
    padding: 3px 10px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}


/* Header End */



/* Main Start */

main {
    background-color: #8dc6cd;
    border-top: dotted;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    padding-bottom: 60px;
}


.m-container {
    width: 60%;
    background-color: white;
}

.sub {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: white;
}

.m-font {
    color: #a6b0b9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.m-title {
    font-size: 2em;
}

.m-text {
    font-size: 1em;
    margin-top: 15px;
}

.m-heading {
    margin-top: 30px;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-bottom: 3px;
}


.sub input {
    width: 100%;
    font-size: 30px;
    border-radius: 5px;
    border: #d4e9ec 1px solid;
    color: #a6b0b9;
}

.sub>form>div {
    margin-left: 5px;
    margin-top: 40px;
    background-color: white;

}

.sub button {
    background-color: #ec4949;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    font-size: 1em;
    padding: 10px 25px;

}


/* Main End */



/* Section 1 Start */

.s1 {
    background: url("images\\back_image.png") no-repeat center/cover;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.s1-container {

    width: 50%;
    padding: 20px;

}

.s1-font {
    font-family: Arial, Helvetica, sans-serif;

}

.s1-title {
    font-size: 3em;
    color: white;
    font-weight: bold;
}

.s1-text {
    font-size: 0.7em;
    white-space: pre-line;
    margin-top: 20px;
    color: white;
    line-height: 16px;
    padding-bottom: 60px;
}


.s1-sub {

    width: 70%;
    margin: auto;
    position: relative;
    padding: 20px;
    background-color: white;
}

.s1-icon {
    background-color: #81d165;
    border-radius: 100%;
    color: white;
    padding: 25px;
    position: absolute;
    top: 20px;
    left: -30px;
    display: flex;
    justify-content: center;
}

.s1-rectangle {
    display: flex;
    border-radius: 7px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    justify-content: start;
    width: 45%;
    overflow: hidden;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.5s;
    padding-right: 5px;
}

.s1-rectangle:hover {
    cursor: pointer;
    background-color: white !important;
    color: darkblue;
    transition: 0.5s;
}


.lightblue {
    background-color: #8cd6f4;

}

.darkblue {
    background-color: #8d9ec1;
}

.s1-circle {
    border-radius: 100%;
    background-color: #d4d4d4;
    color: white;
    padding: 5px;
    height: 20%;
    margin: 0px 10px;
    margin-top: 10px;
    font-weight: bold;
}

.s1-flex {
    width: 95%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.s1-sub input {
    width: 95%;
    font-size: 1em;
    border-radius: 0px 7px 7px 0px;
    font-size: 100%;
    border: 0px;
}

.s1 button {
    background-color: #81d165;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: 0px;
    font-size: 100%;
    border-radius: 5px;

}


/* Section 1 End  */


/* Section 2 Start */

.s2 {
    background-color: white;
    padding-top: 10%;
    position: relative;
    padding-bottom: 60px;

}

.s2-font {
    font-family: sans-serif;
}

.s2-title {
    margin: auto;
    font-size: 4em;
    color: #4f4f4f;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

.s2-label {
    margin: auto;
    text-align: right;
    font-size: 1.5em;
    color: #b0b0b0;
    font-weight: bold;
    width: 70%;
}

.s2-container {
    width: 60%;
    border-radius: 7px;
    border: 1px solid gray;
    margin: auto;
    margin-top: 50px;
    z-index: 2;
}

.s2-con-up {
    background-color: #34b7ce;
    color: white;
    display: flex;
    font-size: 1.3em;
    font-weight: bold;
    padding: 15px 15px;
    border-radius: 7px;
}

.s2-con-down {
    background-color: #f5f5f5;
    display: flex;
}

.s2-down-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    border-right: 1px solid gray;
    padding: 20px 15px;

}

.s2 input {
    width: 85%;
    border-radius: 7px;
    border: 0.5px solid rgb(177, 176, 176);
    font-size: 1.2em;
    margin-top: 20px;
    padding: 15px;
}

.s2 button {
    background-color: #00a0bc;
    color: white;
    padding: 10px 35px;
    border-radius: 7px;
    border: 0px;
    transition: 0.5s;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

.s2 button:hover {
    background-color: white !important;
    color: #00a0bc;
    transition: 0.5s;
}

.s2-checkdiv {
    display: flex;
    margin-top: 20px;
    justify-content: start;
    width: 90%;
    padding-bottom: 25px;

}


.s2-down-right {
    padding: 20px 15px;
    flex-basis: 50%;
}


.blue {
    background-color: #0199b3;
    border: #0199b3 solid 0.5px;
    color: white;
}

.specialblue {
    background-color: #0289a1 !important;
}

.white {
    color: white !important;
}


.change::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
}

.change:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}

.change::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}

.change:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

/* Section 2 End --> Section 2 and 3 are the same */



/* Section 4 Start */

.s4 {
    padding-top: 40px;
    background-color: #374954;
    padding-bottom: 60px;
}

.s4-container {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 60px;
}

.s4-con-left {
    flex-basis: 50%;
    padding: 20px;
}

.s4-con-right {
    flex-basis: 50%;
    display: flex;
    justify-content: start;

}

.s4-con-right i {

    font-size: 20px;
    border-radius: 100%;
    padding: 25px;
    margin-right: 15px;
    height: 20px;
    margin-top: 20%;
    transition: 0.5s;
}

.s4-con-right i:hover {
    background-color: white;
    color: #374954;
    transition: 0.5s;
    cursor: pointer;
}


.s4-darkblue {
    color: #3960b0;
    border: #3960b0 5px solid;
}

.s4-lightblue {
    color: #0f90c5;
    border: 5px solid #0f90c5;
}

.s4-red {
    color: #eb412e;
    border: #eb412e 5px solid;
}


.s4 input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(221, 215, 215);
    margin-left: 20px;
    font-size: 25px;
    color: white;
    font-weight: bold;

}


.s4 input:focus {
    border-color: #7fc8f4;

}

.s4 button {
    border: 1px solid white;
    padding: 5px 50px;
    background-color: transparent;
    font-size: 1.5em;
    color: white;
    transition: 0.5s;
}

.s4 button:hover {
    background-color: white;
    color: #374954;
    transition: 0.5s;
    cursor: pointer;
}


/* Section 4 End */



/* Section 5 Start */


.s5 {
    background: url("images\\city-back_image.png") center/cover no-repeat;
}

.s5-cover {
    padding: 60px 20px;
    width: 97%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;

}


.s5-container {
    width: 50%;
    background-color: white;
    margin: auto;
    padding: 20px 20px 0px;
    border-radius: 7px;
    border: 2px solid white;
}

.s5-container i {
    font-size: 20px;
    border-radius: 100%;
    padding: 25px;
    height: 20px;
    transition: 0.5s;
    background-color: #365eab;
    color: white;
}

.s5-title {
    color: #505b71;
    font-weight: bold;
    font-size: 2em;
    padding: 20px;
    margin-left: 15px;
}

.s5 input {
    border-radius: 7px;
    border: 0.5px solid rgb(177, 176, 176);
    font-size: 1.2em;
    margin-top: 20px;
    padding: 15px;
    margin-right: 15px;
}

.s5 button {
    padding: 15px 30px;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 20px;
    border-radius: 7px;
    border: 0px;
    transition: 0.5s;
}

.s5 button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.5s;
}

.s5-gray {
    color: gray;
    background-color: white;
    border: 1px solid gray !important;
}

.s5-blue {
    background-color: #365eab;
    color: white;
}

.s5-input-div
{
    display:flex; 
    width: 100%; 
    justify-content: space-between;
}



/* Section 5 End */


/* Section 6 Start */

.s6
{
    background-color: #818c93;
    padding-top: 15vh;
}

.s6-container
{
    width: 50%;
    background-color: #f5f5f5;
    margin: auto;
    border-radius: 12px;
    border: 2px solid #f5f5f5;
    padding-top: 36px;
    padding-bottom: 36px;
}

.s6-title
{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #707c84;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.1px;
}

.s6-rectangle
{
    color: white; 
    padding: 12px 35px;  
}

.green
{
    background-color: #6bbe92;
    color: white;
    font-weight: bold;
    font-size: 2em;
    border-radius: 5px 0px 0px 5px;
    padding-right: 50px;
}

.green:hover
{
    cursor: pointer;
}

.s6-circle
{
    border-radius: 100%;
    padding: 25px;
    position: absolute;
    left: 42%;
    top:-10px;
}

.s6-gray
{
    border-radius: 0px 5px 5px 0px;
    background-color: #707c84;
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding-left: 50px;
}

.s6-gray:hover
{
    cursor: pointer;
}

.s6-sub
{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top:25px;
}


.s6-sub-2
{
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 40px;
    border: 1px solid gray;
    background-color: #fefefe;
    border-radius: 7px;
    padding: 20px;

}

.s6 input
{
    border-radius: 7px;
    border: 0.5px solid rgb(177, 176, 176);
    font-size: 1.2em;
    margin-top: 20px;
    padding: 15px;
    margin-right: 15px;
    background-color: #f5f5f5;
}

.s6 button
{
    background-color: #6bbe92;
    padding: 10px 40px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 7px;
    border: 0px;
    color: white;
    transition: 0.5s;
}

.s6 button:hover
{
    background-color: white;
    color: #6bbe92;
    transition: 0.5s;
    cursor: pointer;
}

.s6-sub-right
{
    border-left: 0.3px solid gray; padding: 20px;
}

.s6-sub_left
{
    flex-basis: 50%;
}

/* Section 6 End */
@media only screen and (max-width:1050px) {
    .s4-container {
        flex-direction: column;
        align-items: start;
    }

}




@media only screen and (max-width:768px) {
    .big {
        font-size: 7em;
    }

    .h-rectangle {
        font-size: 0.5em;
    }

    .title {
        padding-top: 8%;
    }

    .rounded {
        right: -10%;
    }

    .h-medium {
        font-size: 1em;
    }

    .title {
        font-size: 2em;
    }


    .h-div {
        width: 35%;
    }

    .m-container {
        width: 95%;
    }

    .sub {
        width: 70%;
    }

    .sub>form>div {
        flex-direction: column;
        align-items: center;
    }

    .sub button {
        margin-top: 20px;
    }


    .s1-sub {
        width: 70%;
    }

    .s1-text {
        white-space: normal;
    }

    .s1-flex {
        flex-direction: column;
        align-items: center;
    }

    .s1-rectangle {
        width: 90%;
        font-size: 0.9em;
    }

    .s1-circle {
        margin-bottom: 10px;
    }

    .s1-icon {
        padding: 20px;
    }

    .s1-container {
        width: 90%;
    }


    .s2-title {
        font-size: 2em !important;
        width: 90% !important;
    }

    .s2-label {
        font-size: 100%;
        width: 90% !important;
    }

    .s2-container {
        width: 90%;
    }

    .s2-con-down {
        flex-direction: column;
    }

    .s2-down-left {
        border: 0px !important;
    }

    .s4-container {
        flex-direction: column;
        align-items: start;
    }

    .s4 input {
        font-size: 100%;
    }

    .s4 button {
        margin-top: 50px;
    }

    .s2-checkdiv {
        flex-direction: column;
    }

    .s2 button {
        margin-top: 30px;
    }

    .s4 i {
        margin-top: 30px;
    }

    .s5-container {
        width: 90%;
    }

    .s5-cover
    {
        width: 90%;
    }

    .s5-input-div
    {
        flex-direction: column;
    }


    .s6-container
    {
        width: 95%;
    }

    .s6-circle
    {
        left:35%
    }
    
    .s6-sub-2
    {
        flex-direction: column;
    }

    .s6-sub-right
    {
        border: 0px;
    }




}